#tweet{
    height: 50px;
    width: 50px;
}








.hii{
   
   display: flex;
   justify-content: center;
   align-items: center;
    
    height: 400px;
}


.boxe{
    margin-left: ;
    height: 380px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 440px;
    background-color: rgb(184, 222, 241);
}


.case{
   
    height: 320px;
  
    width: 340px;
    background-color: rgb(74, 179, 239);
}



.imgi{
    display: flex;
    justify-content:flex-end;
    align-items:baseline;
   
}

#tweet{
    width: 40px;
    height: 40px;
}


.texti{

  
    font-size:18px ;
   margin-top: 80px;
    text-align: center;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    

}


.texti .author{
font-style: italic;
}



.butni{

    display: flex;
    justify-content:center;
    align-items:baseline;
}

 .butni #newq{
   color: rgb(18, 48, 58);
    width: 110px;
    font-weight: 600;
    border:  1px solid rgb(7, 22, 58);
    height: 30px;
    font-size: 14px;
   font-family: cursive;
    background-color: rgb(255, 255, 255);
}


.butni #newq:hover
{
    color: white;
    background-color: black;
    transition: 0.4s;
}
.butni #newq
{
    color: white;
    background-color: black;
}



.name
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.name h1{
   
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif

}


 .name #span{
    font-family: cursive;
    color: blueviolet;
    font-style: italic;
}




